.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 60%;
    margin: 0 auto 5rem;
}
.projectItem{
    display: inline-block;
    flex: 1 1 160px;
    border-radius:10% 0 10% 0;
    box-shadow: 0 0 5px rgb(2, 219, 74);
    border:1px solid rgb(2, 219, 74);
    overflow: hidden;
    text-decoration: none;
}
.projectItem:hover{
    animation:item 0.25s linear
}
@keyframes item{
0%{box-shadow: 0 0 0px rgb(2, 219, 74);}
50%{box-shadow: 0 0 20px rgb(2, 219, 74);}
100%{box-shadow: 0 0 5px rgb(2, 219, 74);}
}
.projectImage img {
    width: 100%;
    height: 100%;
}
.projectName{
    text-align: center;
    padding: 0.1rem;
    color:white;
    letter-spacing: 0.1rem;
}
