@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
.containerUpdate{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(45deg,red,blue)
}
.containerUpdate h3{
    text-align: center;
}
.updateProject,.updateSkills{
    margin-top: 3rem;
    color:white;
    width: 40%;
    border: 1px solid grey;
    box-shadow: 1px 1px 10px white;
}
.updateList{
    border-bottom: 1px solid white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.updateList span{
    margin-right: 10px;
}
.updateList button,.updateInput button{
    border:none;
    background: rgba(255, 0, 0, 0.473);
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}
.updateList button:hover{
    background: red;
}
.updateInput{
text-align: center;
}
.updateInput ul{
    list-style: none;
}
.updateList a {
    color:white
}
.updateInput input {
    color:white;
    background:linear-gradient(45deg, rgb(128, 9, 0),rgb(255, 0, 106))
}
.updateInput button {
    background:rgba(0, 128, 0, 0.699);
    padding:0.5rem 1rem;
    border-radius: 10px;
}
.updateInput button:hover{
    background:green
}
.home{
    position: fixed;
    top:3rem
}
.home a{
        text-decoration: none;
        color:white;
        background:rgb(0, 255, 21);
        padding:0.5rem 1rem;
        border-radius:1rem;
        font-weight: 700;
        transition: all 0.2s;

}
.home a:hover{
    background:rgb(200, 245, 0)
}

